* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
}

.heroSection {
  margin: 8vh 10%;
}

.main-text > br {
  display: none;
}

h1 {
  color: #4d4f62;
  font-size: 1.5rem;
}

.light {
  font-weight: 200;
}

.dark {
  font-weight: 600;
}

.main-text {
  color: #4d4f62;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  margin-top: 2vh;
  opacity: 0.5;
  text-align: center;
}

h2 {
  color: #4d4f62;
  font-size: 1.25rem;
  font-weight: 600;
}

.benefitsSection {
  margin: 0 10%;
}

.card {
  background: #ffffff;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
  margin-bottom: 3vh;
  max-width: 311px;
}

.card > hr {
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  height: 3.55px;
}

.cardOne > hr {
  background: #44d3d2;
}

.cardTwo > hr {
  background: #ea5454;
}

.cardThree > hr {
  background: #fcae4a;
}

.cardFour > hr {
  background: #549ef2;
}

.card > h2 {
  margin: 5% 10%;
}

.cardText {
  color: #4d4f62;
  font-size: 0.8125rem;
  margin: 5% 10%;
  text-align: left;
}

.card > img {
  margin-left: 70%;
  padding: 15px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 376px) {
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .heroSection > h1,
  p {
    text-align: center;
  }

  .benefitsSection {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin: 3vh auto;
    max-width: 350px;
    width: 80%;
  }
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 2.25rem;
  }

  .main-text > br {
    display: block;
  }

  .benefitsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 3vh;
    justify-items: center;
    margin-bottom: 8vh;
  }

  .card {
    margin: 0;
  }

  .cardOne {
    grid-area: 2 / 1 / 4 / 2;
    justify-self: right;
  }

  .cardTwo {
    grid-area: 1 / 2 / 3 / 3;
  }

  .cardThree {
    grid-area: 3 / 2 / 5 / 3;
  }

  .cardFour {
    grid-area: 2 / 3 / 4 / 3;
    justify-self: left;
  }
}

@media only screen and (min-width: 1300px) {
  .card {
    width: 350px;
  }
}
